
.big_img {
    width: 500px;
    height: 500px;
}
div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}
.mini_img {
    width: 100px;
    height: 100px;
}